@import './lib/reset';
@import './lib/fonts';
@import './lib/variables';
@import './lib/mixins';

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
}

#__next,
html,
body {
  background-color: #fff;
  line-height: 1.8;
}

.button{
  cursor: pointer;
  margin-top: 10px;
  padding: 15px;
  border-radius: 5px;
  border: 0;
  font-size: 16px;
  font-weight: bold;


  background-color: #38B2AC;
  color: #fff;

  &.info {
    background-color: #3182ce;
  }

  &.error {
    background-color: #F56565;
    color: #fff;
  }
}

